<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="display: flex; width: 100%; justify-content: center; align-items: center; flex-direction: column; margin-top: 10%;">
        <form method="post" action="">
          {% csrf_token %}
          <input placeholder="Enter Your URL" name="orgurl"/>
          <button type="submit">Submit</button>
        </form>
    </div>
    <div style="width: 100%;">
        <table border="1" style="margin: auto; width: 40%; text-align: center; justify-items: center;">
            <tr>
                <th>Long url</th>
                <th>Shorten url</th>
                <th>No of clicks</th>
            </tr>
            <tbody>
                {% for url_details in orgurl %}
                <tr>
                    <td>{{url_details.orgurl}}</td>
                    <td>
                        <a href="http://{{ request.META.HTTP_HOST }}{%url 'redirect' pk=url_details.id %}" target="_blank">
                            {{ url_details.id }}
                        </a>
                    </td>
                    <td>{{url_details.no_clicks}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </body>
</html>

